<nav class="paradeiser" id="paradeiser">
    <a href="#">
        <img src="http://danielwinter.at/apple-touch-icon_76x76.png" alt="Logo of Daniel Winter" class="paradeiser_logo">
    </a>
    <a href="#">
        <b>Home</b>
    </a>
    <a href="#">
        <b>Contact</b>
    </a>
    <a href="#">
        <b>Blog</b>
    </a>
</nav>
